.menu {
    position: fixed;
    top: 20px;
    left: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    float: left;
}

.button {
    background-color: white;
    width: 100px;
    height: 50px;
}

svg {
    position: fixed;
    top: 0;
    left: 0;
}
